@import '~antd/dist/antd.css';

#hero-outer {
    position: absolute;
    height: 100%;
    width: 100%;
}

#hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#form {
    display: flex;
}

.form-item-submit {
    margin-right: 0 !important;
}

#input {
    font-size: 2rem;
}

#button {
    font-size: 2rem;
    height: 60px;
}

#items {
    height: 300px;
    overflow: scroll;
}

#items ol {
    padding: 0;
    list-style: none;
}

.item {
    margin-top: 2rem;
}

#load-error {
    display: block;
    text-align: center;
}
